[Desktop Entry]
Name=Carmenta
Comment=Blazing fast Emoji Picker
Exec=carmenta
Icon=io.github.szymonwilczek.carmenta
Type=Application
Categories=Utility;GTK;
Terminal=false
StartupNotify=true
Keywords=emoji;picker;kaomoji;symbols;
