[Desktop Entry]
Type=Application
Name=MATLAB
Exec=/home/jz2024/.MathWorks/ServiceHost/-mw_shared_installs/v2026.1.0.2/bin/glnxa64/OpenMathWorksDesktopApp %u
StartupNotify=false
MimeType=x-scheme-handler/mw-matlab;
NoDisplay=true
