[Desktop Entry]
Encoding=UTF-8
Name=VNC Viewer
Name[de]=VNC Viewer
Name[es]=VNC Viewer
Name[fr]=VNC Viewer
Name[pt]=VNC Viewer
GenericName=VNC Viewer
Comment=Connect to computers running VNC Server
Comment[de]=Verbindung zu Computern mit aktivem VNC Server herstellen
Comment[es]=Conectarse a equipos que ejecutan VNC Server
Comment[fr]=Connecter les ordinateurs sous VNC Server
Comment[pt]=Conecte-se a computadores com o VNC Server em execução
Exec=vncviewer %f
Type=Application
Icon=vncviewer-mine
Categories=Application;Network;RemoteAccess;
MimeType=application/vnc-shortcut
X-Ayatana-Desktop-Shortcuts=NewConnection

[NewConnection Shortcut Group]
Name=New Connection
Name[de]=Neue Verbindung
Name[es]=Nueva conexión
Name[fr]=Nouvelle connexion
Name[pt]=Nova conexão
Exec=vncviewer
TargetEnvironment=Unity
