[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=env GTK_PATH=/usr/lib/x86_64-linux-gnu/gtk-2.0 LIBGL_ALWAYS_SOFTWARE=1 matlab -desktop
Name=MATLAB
Icon=matlab
Categories=Development;Math;Science
Comment=Scientific computing environment
Comment[zh_CN] = 科学计算环境
StartupNotify=true
StartupWMClass=MATLAB R2024a - academic use
