[Desktop Entry]
Type=Application
Name=Vitis 2024.2
Comment=Xilinx Unified Software Platform
Icon=/opt/Xilinx/Vitis/2024.2/ide/electron-app/lnx64/resources/app/resources/icons/vitis-logo-latest.ico
Exec=/opt/Xilinx/Vitis/2024.2/bin/vitis
Path=/home/jz2024/.Xilinx_logs/Vitis
Terminal=false
Categories=Development;Electronics;Engineering;
StartupNotify=true
StartupWMClass=Vitis Unified IDE
