# startup commands
startup_commands toggle_scrollbar

# search
search_url_d https://www.baidu.com/s?wd=

# status bar
show_document_name_in_statusbar 1
status_bar_format Page [ %{current_page} / %{num_pages} ] %{chapter_name}%{search_results}%{search_progress}%{link_status}%{waiting_for_symbol}%{indexing}%{preview_index}%{synctex}%{drag}%{presentation}%{visual_scroll}%{locked_scroll}%{closest_bookmark}%{close_portal}%{rect_select}%{custom_message}%{document_name}%{highlight}

